<html ng-app="Angular">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.17/angular.min.js"></script>
        <script lang="javascript">
            
            var myTicket = angular.module("Angular", []);
            
            myTicket.controller('Cost',
            
                function ($scope) {
                        
                        myTicket.controller('Cost'
                        var c = this;
                        
                        c.cost = 1000.1;
                        c.total_bill = true;
                        
                        function update (){
                            cc.total = parseFloat(c.cost) + c.tax + c.tip.amount;
                        }
                        
                        $scope.$watch('c.cost', update);
                        $scope.$watch('c.tax', update);
                        $scope.$watch('c.tip', update);
                        $scope.$watch('c.cost + c.cost * c.tax', update);
                        
                        c.bill = 0.0;
                        c.add = function add(){
                            c.bill += c.total;
                        }
                        
                        c.tip_options = [
                            {amount:c.cost * .10, name:"10%"},
                            {amount:c.cost * .15, name:"15%"},
                            {amount:c.cost * .20, name:"20%"}
                            ];
                        c.tip = c.tip_options[0]
                        
                        c.tax_options = [
                            {amount:c.cost * .0825, name:"Texas"},
                            {amount:c.cost * .0735, name:"New Mexico"},
                            {amount:c.cost * .0877, name:"Oklahoma"}
                            ];
                        c.tax = c.tax_options[0]
                }
            );
        </script>    
    </head>
    <body>
        <div ng-controller="Cost as c">
            <input type = "checkbox" ng-model= "c.total_bill" />Show Total
            <p>
                Cost: <input type = "text" ng-model="c.cost" placeholder = "cost" /> <br/>
                Tax: <select ng-model = "c.tax" ng-options = " s.name for s in c.tax_options"></select>
                Tip: <select ng-model ="c.tip" ng-options = " s.name for s in c.tip_options"></select>
            </p>
            <p>
                The cost: {{c.cost|currency}}
            </p>
            <p ng-show="c.total_bill">
                Total: {{c.total|currency}}
                <button ng-click="c.add()">Add</button>
            </p>
            <p ng-show="c.total_bill">
                Running total: {{c.final_bill|currency}}
            </p>
        </div>
    </body>
</html>